{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Вход{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/auth.css' %}">

<div class="auth-form">
    <h2>🔐 ВХОД В АККАУНТ</h2>
    <form method="post">
        {% csrf_token %}
        <label>Email</label>
        {{ form.username }}
        <label>Пароль</label>
        {{ form.password }}
        <button type="submit">Войти</button>
    </form>
    <div class="auth-link">
        <a href="{% url 'register' %}">Нет аккаунта? Зарегистрироваться</a>
    </div>
</div>
{% endblock %}