body {
    background-color: d8c2ff;
}
aside {
    float: left;
    background: #ffa8af;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 3px solid #000000;
}
    aside img {
        width: 80px;
        height: 60px;
        float: left;
    }
    aside .logo {
        font-size: 20px;
        margin-left: 80px;
        font-weight: bold;
        position: relative;
        top: -45px;
        color: #6e4bfe
    }